@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    border-style: none;
    text-decoration: none;
    list-style: none;
}

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.nav-bar{
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    /* border: 2px solid tomato; */
    align-items: center;
}

.toogle{
    display: none;
}

.running-text{
    margin-top: 15px;
    margin-bottom: 5px;
}
marquee{
    color: orange;
    font-size: 1.1rem;
    font-weight: 500;
}
.logo {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.menubar{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid salmon; */
    gap: 175px;
    align-items: center;

}

.menubar ul {
    display: flex;
    gap: 30px;
}

.title{
    font-size: 1.62rem;
    font-weight: bold;
}

ul a {
    text-decoration: none;
    font-family: "Quicksand", serif;
    cursor: pointer;
}


ul li {
    list-style: none;
}

.home a{
    font-weight: bold;
    font-size: 1.2rem;
    color: rgba(254, 163, 1, 1);
}
.home a:hover{
    color: rgb(199, 128, 6);
}

.About a{
    font-weight: 500;
    font-size: 1.2rem;
    color: rgba(1, 172, 253, 1);
}
.About a:hover{
    color: rgb(1, 89, 136);

}

.Facilities a {
    font-weight: 500;
    font-size: 1.2rem;
    color: rgba(5, 212, 223, 1);
}

.Facilities a:hover{
    color:rgb(3, 155, 163); ;
}

.Admission a{
    font-weight: 500;
    font-size: 1.2rem;
    color: rgba(93, 88, 239, 1);
}

.Admission a:hover{
    color: rgb(67, 63, 177);;
}

.btn button {
    color: rgba(255, 255, 255, 1);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 58px;
    background-color: rgba(254, 163, 1, 1);
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.btn button:hover{
    background-color: rgb(192, 123, 3);
}


/* ................. Banner Updated............  */ 

.text-container h4 {
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 55px;
    margin-bottom: 20px;
}

.text-container p {
    font-size: 1.2rem;
    max-width: 610px;

}

.banner {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    align-items: center;
}

.image-container img{
   height: 480px;
   width: auto;
}

.empower{
    color: rgba(254, 163, 1, 1);
}

.vision {
    color:rgba(1, 172, 253, 1);
}

.text-btn button{
    padding: 11px 40px;
    color: white;
    font-size: 1.2rem ;
    background-color: black;
    border-radius: 12px;
    border-style: none;
    margin-top: 20px;
    font-family: "Quicksand", serif;
    cursor: pointer;

}
.text-btn button:hover{
    background-color: rgba(0, 0, 0, 0.747);
}

@media screen and (max-width:576px){
     nav{
        border-bottom: 2px solid orange;
     }
    .nav-bar{
        max-width: 360px;
        margin: 0 auto;
        display: flex; 
         justify-content: space-between;
        margin-top: 18px;
        /* border: 2px solid tomato; */        
        padding-bottom: 10px; 
    }
    .toogle{
        display:inline;
        
    }

    .nav-toogle{
        display: block;
        z-index: 999;
        border: none;
        background: transparent;
    }
    
    .bar{
        display: block;
        width: 25px;
        height: 2px;
        margin: 5px 5px;
        background-color: rgb(0, 0, 0);
    }


    .image img {
        height: 40px;
        width: auto;
    }
    .title, .menubar{
        display: none;
    }

    .banner{
        flex-direction: column;
    }

    .banner{
        max-width: 360px;
        margin: 0 auto;
        display: flex; 
        flex-direction: column-reverse;
        text-align: center;
        gap: 15px;

    }
    .text-container h4{
        font-size: 2rem;
        line-height: 38px;
    }

    .image-container img {
        width: 200px;
        height: auto;
    }

    .text-container p {
        font-size: 0.9rem;
        font-weight: 500;
    }

    .text-btn button {
        font-weight: 500;
        border-radius: 8px;
        padding: 8px 25px;
    }
 
}

/* ................. Standard Curriculum Section Updated............  */

.standard-curriculum{
    background-image: url("assets/bg.png");
}

.standard-curriculum-container {
    max-width: 1110px;
    margin: 0 auto;
    align-items: center;
    margin-top: 70px;
    
}

.standard-curriculum-container h3{

    font-size: 2.65rem;
    margin-bottom: 70px;
    text-align: center;
}

.card-container{
    display: flex;
    gap:35px;
    text-align: center;
    margin-bottom: 75px;
  
}

.card-container h5 {
    font-size: 1.3rem;
    margin-top: 25px;
    margin-bottom: 25px;
}

.card-container p{
    font-size: 0.8rem;
    line-height: 24px;
    color: rgba(128, 128, 128, 1);
    font-weight: 500;
}

.card-1 , .card-2, .card-3{
    padding: 48px 35px;
    border-radius: 16px;
}

.card-1 {
    background-image: linear-gradient(#DEF5FF,#FFFFFF);
    border: 2px solid rgba(222, 245, 255, 1);
}

.card-2 {
    background-image: linear-gradient(#FFF4DC,rgba(255, 255, 255, 1));
    border: 2px solid rgba(255, 244, 220, 1);
}

.card-3 {
    background-image: linear-gradient(#EEE1FF,rgba(255, 255, 255, 1));
    border: 2px solid rgba(242, 232, 255, 1);
}

.card-2 h5, .card-3 h5{
    margin-top: 37px;

}

#read-kinder{
    color: rgba(100, 200, 255, 1);
    margin-top: 30px;
    font-weight: bold;
}
#read-elementary{
    color: rgba(240, 170, 0, 1);
    margin-top: 30px;
    font-weight: bold;
}
#read-middle{
    color: rgba(135, 0, 255, 1);
    margin-top: 30px;
    font-weight: bold;
}

.curriculum-icon{
    display: flex;
    gap: 10px;
    justify-content: center;

    
}

.curriculum-icon img {
    
    width: 40px;
    height: auto;
    border-radius: 50%;
    padding: 1px;
    background-color: orange;
  
}

@media screen and (max-width:576px) {


    .standard-curriculum-container{
        max-width: 360px;
        margin: 0 auto;
        padding: 0;
    
    }
    .standard-curriculum h3 {
        font-size: 1.7rem;
        margin-top: 38px;
        margin-bottom: 18px;
    }
    .card-container{
        gap: 22px;
        flex-direction: column;
        margin: 0 8px;
      
    }

    .curriculum-icon{
        display: none;
    }
    
}


/* ................. Our stories Section Updated............  */


.our-stories{
    background: url("assets/bg.png"),linear-gradient(#FFFFFF,rgba(254, 161, 1, 0.473));
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 40px;
    align-items: center;
   
}

.our-stories h4{
    text-align: center;
    font-size: 2.6rem;
    font-weight: bold;
}

.our-stories-container{
    max-width: 1110px;
    margin: 0 auto;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 75px;
    display: flex;
    gap: 15px;
    /* border: 2px solid orange; */
}

.left-card {
    border-radius: 18px;
    background-color: white;
    /* position: relative; */
}
.left-card img {
    height: 312px;
    width: auto;
    border-radius: 18px 18px 0 0 ;
}

#blue-btn {
    margin-top: -26px;
    margin-left: 34px;
}

#blue-btn button{
    font-family: "Quicksand", serif;
    color: white;
    background-color: rgba(60, 216, 232, 1);
    padding: 13px 16px;
    border-radius: 45px;
}



.left-card h5{
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 34px;
    margin: 46px 35px;
}

.left-card p{
    color: rgba(102, 102, 102, 1);
    font-size: 0.9rem;
    line-height: 25px;
    margin-left: 35px;
    margin-bottom: 30px;
    margin-right: 60px;
    font-weight: 500;

}

.right-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    
}

.card{
    background-color: white;
    border-radius: 18px;
}

.green-btn {
    margin-top: -26px;
    margin-left: 34px;
}

.green-btn button{
    font-family: "Quicksand", serif;
    color: white;
    background-color: rgba(149, 178, 38, 1);
    padding: 13px 16px;
    border-radius: 45px;
}

.purple-btn {
    margin-top: -26px;
    margin-left: 34px;
}

.purple-btn button{
    font-family: "Quicksand", serif;
    color: white;
    background-color: rgba(93, 88, 240, 1);
    padding: 13px 16px;
    border-radius: 45px;
}

.right-cards img {

    border-radius: 18px 18px 0 0 ;
}

.right-cards p {
    font-size:0.9rem ;
    font-weight: bold;
    line-height: 24px;
    margin: 22px 50px 22px 35px;
}

.stories-btn {
    text-align: center;
}

.stories-btn button {
    font-family: "Quicksand", serif;
    padding: 10px 55px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    background-color: black;
    border-radius: 12px;
    cursor: pointer;
    
}

.stories-btn button:hover{
    background-color: rgba(0, 0, 0, 0.747);
}

@media screen and (max-width:576px) {
    
     .our-stories{
        padding: 0;
        padding-bottom: 40px;
        background-size: cover;
        
     }

     .our-stories-container{
        padding: 0;
     }

     .our-stories h4 {
        margin-bottom: 0;
        font-size: 1.8rem;
        font-weight: bold;
     }
    .card {
        padding: 0;
        margin: 0;
    }

    .left-card{
        display: none;
    }
    .right-cards{
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        max-width: 360px;
        margin: 0 auto;
        /* border: 2px solid orange; */
        
    }

    .right-cards img{
        width: 175px;
        height: auto;
    }

    .right-cards p{
        font-size: 0.5rem;
        margin: 10px 19px 16px 19px;
        line-height: 14px;
        font-weight: bold;
        max-width: 100px;
    }

    .green-btn {
        margin-top: -17px;
        margin-left: 19px;
    }
    
    .green-btn button{
        font-family: "Quicksand", serif;
        color: white;
        background-color: rgba(149, 178, 38, 1);
        padding: 5px 9px;
        border-radius: 45px;
        font-size: 0.5rem;
    }

    .purple-btn {
        margin-top: -17px;
        margin-left: 18px;
    }
    
    .purple-btn button{
        font-family: "Quicksand", serif;
        color: white;
        background-color: rgba(93, 88, 240, 1);
        padding: 5px 9px;
        border-radius: 45px;
        font-size: 0.5rem;
    }
    .our-stories-container{
        margin-bottom: 22px;
        margin-top: 32px;
    }

    .stories-btn button {
        font-size: 1rem;
        padding: 8px 38px;
        border-radius: 12px;
    }
  
    
}


/* ................. Footer Section Updated............  */


footer{
    background-color: orange;
}
.footer-kids{
    background-color: rgba(1, 172, 253, 1);
    padding: 120px 200px 120px 110px ;
}

.footer-container{
    
    display: flex;
    gap: 100px;
    max-width: 990px;
    margin: 0 auto;
}


.about-logo{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    align-items: center;
}
.kids-logo img{
    height: 80px;
    width: auto;
}

.about-logo-title{
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 35px;
}

.about-description{
    color: white;
    font-size: 1.1rem;
    max-width: 330px;
    padding-left: 10px;
}

.about-school{
    margin: 0 70px;
}

.about-school p {
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
}

.about-menubar a{
    color: white;
    font-size: 1.1rem;
    margin: 22px 0;
    font-weight: normal;
    display: flex;
   

}

.icon p {
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 25px;
}

.social-icons img {
    width: 28px;
    height: auto;
    margin: 0 3px;
}

@media screen and (max-width:576px) {
.footer-container{
        flex-direction: column;
        gap: 28px;
}

.footer-kids{
    /* margin: 0; */
    padding: 60px 15px;
}

.about-logo{
    margin: 0 0 18px 0;
    padding: 0;
}

.about-school{
    padding: 0;
    margin: 0 0 0 10px;
   
}

.about-menubar a{
    margin: 16px 0;
}

.icon {
    margin: -10px 0 0 7px;
   
}

}